[Unit]
After       = network.target
Description = node-bmw-client daemon
Requires    = network.target

[Service]
Nice             = -19
OOMScoreAdjust   = -1000
Group            = pi
User             = pi
Environment      = NODE_ENV=production
Environment      = NODE_PATH=/usr/lib/node_modules:/usr/lib/nodejs:/usr/local/lib/node_modules:/usr/local/node-bmw-client/node_modules:/usr/share/javascript
ExecStart        = /usr/bin/env node --throw-deprecation --trace-warnings --preserve-symlinks /usr/local/node-bmw-client/main.js
Restart          = on-failure
StandardError    = syslog
StandardOutput   = syslog
SyslogIdentifier = node-bmw-client
WorkingDirectory = /usr/local/node-bmw-client

[Install]
WantedBy = multi-user.target
